
:root {
    
}

.h-100.w-100.login-page .rounded-lg.p-8 {
    margin: auto;
}

body {
    font-family: var(--font-body);
    font-size: 14px;
}

.h-100.w-100.login-page {
    display: flex;
    align-items: center;
    padding: 20px !important;
}

.agentsign .agnet_logo img {
    width: 200px !important;
}

.h-100.w-100.login-page .rounded-lg.p-8 {
    background-color: #0000008a !important;
    min-width: 430px;
}

.login-page .form-group {
    margin-bottom: 20px;
}

.login-page .form-group span,
.login-page .input-group span {
    margin-bottom: 5px;
    display: block;
}

.login-page .input-group.input-group-outline .form-control {
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #fff !important;
    border: none;
    color: #000;
}

.login-page .button-blue {
    display: block;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: none;
    display: block;
    width: 100%;
    color: #fff;
    border-radius: 4px;
}

.text-lg,
.text-xl {
    line-height: 1;
}

.text-primary {
    color: var(--primary-color) !important;
}

.login-page .outer-row {
    margin: 0px -15px;
    width: auto;
    display: flex;
}

.login-page .outer-row .w-50 {
    width: 50%;
    padding: 0px 15px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.button {
    /*margin-bottom: 20px;*/
    /*background-color: var(--primary-color);*/
    /*border: 1px solid var(--primary-color);*/
    box-shadow: none;
    color: #fff;
    border-radius: 4px;
    text-transform: capitalize;
    /*float: none;*/
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

/* table td,
table th{
    white-space: nowrap;
} */
th {
    background-color: var(--accent-color);
    border: 1px solid #00706e !important;
}

table th {
    padding: 10px;
}

.table-responsive {
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
}

.main-content {
    width: calc(100% - 100px);
    padding: 15px;
}

table td .button {
    margin-bottom: 0px;
    margin-top: 0px;
}

.agent_menu i,
.agent_menu svg {
    font-size: 18px;
}

.agent_menu a {
    padding: 20px 0px;
    font-size: 12px;
}

.justify-content-between {
    justify-content: space-between;
}

.m-0 {
    margin: 0px;
}

.main-content h3 {
    font-size: 25px;
}

.table-responsive table {
    margin-bottom: 0px;
}

.table-responsive table td .button {
    padding: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    box-shadow: none !important;
    background-color: #1d8c9f !important;
}

.table-responsive table td .button svg {
    margin: 0px;
}

.agent_menu a:hover {
    color: var(--primary-color);
}

table tr:nth-child(odd) {
    background-color: #f8f8f8;
}

table tr:hover {
    background-color: #eee;
}

.agent_menu {
    background-color: var(--sidebar-color);
}

.flex-wrap {
    flex-wrap: wrap;
}

#agents_sidebar {
    width: 230px;
    background-color: var(--sidebar-color);
}


::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--sidebar-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #233c54;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #284764;
}

#agents_sidebar .active {
    background-color: #284764;
}

.default-page-content {
    width: calc(100% - 330px);
}

.sidebar li a {
    font-size: 14px;
    text-transform: initial;
}

.default-page-content .form-bg {
    background-color: #fff;
    box-shadow: 0px 3px 15px #0000001f;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
}

.default-page-content .form-bg .input-group span,
.form-bg .input-group span {
    margin-bottom: 5px;
    display: block;
}

.default-page-content .form-bg input.form-control,
.default-page-content .form-bg select {
    border: 1px solid #ddd !important;
}

.justify-content-end {
    justify-content: flex-end;
}

.amenitieData,
.addAmenities {
    border: 1px solid #ddd;
}

.addAmenities {
    overflow-x: hidden;
}

.amenities {
    border-radius: 5px;
    padding: 2px 14px;
    margin: 0px 3px 6px 3px;
    border: 1px solid var(--primary-color);
    background: #f8feff;
    color: var(--primary-color);
}

.amenities:hover {
    color: white;
    background-color: var(--primary-color);
}

.amenitie {
    margin: 0px 3px 6px 3px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color) !important;
    color: #fff;
}

.amenitie .amenitiesbutton {
    background-color: var(--primary-color) !important;
}

.amenitiesbutton1 {
    color: #fff;
}

.dropzone {
    border: 2px dashed #ddd;
    display: flex;
    align-items: center;
    position: relative;
}

.dropzone.dz-clickable:not(.dz-started) {
    justify-content: center;
}

.progress-bar {
    margin: 0px -20px;
    margin-right: 0px;
}

.progress-bar {
    position: absolute;
    right: 20px;
}

.dropzone .dz-message .dz-button {
    font-size: 20px;
    color: var(--secondary-color);
}

.card-image-style {
    margin: 0px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.gallery-image {
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 10px #00000014;
}

.gallery-image{
    margin-left: 0px;
    width: 100%;
}

.gallery-image:last-child {
    margin-right: 0px;
}

.property-next {
    margin-top: 20px;
}

.gallery_body {
    padding: 0px !important;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.default-page-content .gallery_body .form-bg {
    width: 100%;
    overflow: initial;
    padding: 20px;
}

.gallery-img-box {
    width: calc(100% - 10px);
    margin: 5px;
    border: none;
}

.grid-cols-2 {
    border: 1px dashed #284764;
}

.nav-tabs .tabs {
    padding: 5px !important;
}

.tabs .moving-tab {
    background-color: var(--primary-color);
    padding: 10px !important;
}

.nav-link.active {
    color: #fff !important;
}

.tabs .moving-tab a {
    opacity: 0;
}

.tabs .nav-item .nav-link {
    padding: 10px;
}

.gallery-image .card-body {
    padding: 10px;
}

.form-bg {
    background-color: #fff;
    box-shadow: 0px 3px 15px #0000001f;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
}

.form-bg .form-control {
    border: 1px solid #ddd !important;
}

.photo-list .img-box {
    flex: 0 0 calc(100% / 3);
}
.sticky-gallery{
    grid-template-columns: repeat(3,minmax(0,1fr));
}
.property_image {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.grid-cols-2 .h-52 {
    max-width: calc(100% - 10px);
    margin: 5px;
    width: 100%;
    height: 120px;
    max-height: 120px;
}

select {
    -webkit-appearance: auto !important;
}

.url-box {
    background-color: #fff;
    box-shadow: 0px 3px 15px #0000001f;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 20px;
}

.url-box .text-xl {
    margin-bottom: 10px;
}

#propertyUrl {
    color: var(--sidebar-color);
}

.share a {
    color: var(--primary-color);
}

.share span {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--secondary-color);
}

.row{
    margin: 0px -.5rem;
}
.border.drag-box .inline-block {
    width: calc(100% / 3 - 25px);
    height: auto;
    min-height: 100px;
}
.border.drag-box .inline-block {
    width: calc(100% / 3 - 26px);
    height: auto;
    min-height: 100px;
}
.sticky-gallery{
    position: sticky;
    top: 0px;
    max-height: 300px;
    overflow: auto;
}
.tabs .nav-item .nav-link.active{
    color: #fff;
}
.img-rotate-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: auto;
    height: 320px;
    padding-bottom: 20px;
    position: relative;
    justify-content: center;
    text-align: center;
}
.img-rotate-box img {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100% !important;
    object-fit: contain;
    object-position: center center;
}
.img-modal{
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    position: relative;
}
.image-rotate-wrap{
    background: rgba(0, 0, 0, 0.35);
    overflow: hidden;
    height: 100vh;
    position: fixed;
}
.close-modal {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 0px;
    font-size: 40px;
}
.close-modal a{
    cursor: pointer;
    color: #606060;
    background: #fff;
    border-radius: 100%;
    box-shadow: 3px 5px 10px #00000063;
}
.views-form.mt-5.property_videos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.views-form.mt-5.property_videos .inline{
    width: 100%;
}
.price-cards{
    margin: 20px 0px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.price-cards .card{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #0000000e;
}
.price-cards .card:first-child {
    background-color: var(--primary-color)40;
    color: var(--primary-color);
}
.price-cards .card:nth-child(2) {
    background-color: #077cb72e;
    color: #077cb7;
}
.price-cards .card:nth-child(3) {
    background-color: var(--accent-2-color)21;
    color: var(--accent-2-color);
}
.box-shadow-0{
    box-shadow: none;
}
.property_videos video{
    width: 100%;
    height: 275px;
    object-fit: cover;
}
.table-responsive table.table_3durl td .button {
    padding: 0.625rem 1.5rem;
    font-weight: 500;
    font-size: .75rem;
    width: auto;
    height: auto;
    margin: 0px;
}




.table-responsive::-webkit-scrollbar {
    height: 3px;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
    background: #f5f5f5;
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 10px;
}

/* Handle on hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #284764;
}

.flex-row.wrap.box-2{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;
}
.flex-row.wrap.box-2 .col-md-6{
    max-width: 50%;
    padding: 0px 10px;
    flex: 0 0 calc(100% / 2);
}
.flex-row.wrap.box-2 .col-md-6 img{
    width: 100%;
}
.flex-row.wrap.box-2 .col-md-6 .form-bg{
    min-height: 420px;
}
.dz-started {
    flex-wrap: wrap;
}
.table_3durl{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}
.col-md-4{
    flex: 0 0 calc(100% / 3);
    padding: 0px 15px;
    max-width: calc(100% / 3);
}
.col-md-4 .card{
    margin-bottom: 20px;
}
.col-md-4 .card iframe{
    width: 100%;
}
.col-md-4 .card .card-body{
    padding: 20px;
}
.col-md-4 .card h6{
    text-transform: none;
}
.gallery_body.p-3{
    padding: 15px !important;
    height: auto !important;
}
.choose-gallery{
    max-width: calc(100% - 10px) !important;
    margin: 5px !important;
    width: 100% !important;
    /*height: 120px !important;*/
    /*max-height: 120px !important;*/
}
.w-auto{
    width: 12rem;
}
.flash-div {
    width: 30%;
    margin: 0 auto;
    z-index: 1000;
    position: absolute;
    padding: 10px 20px;
    left: 0px;
    right: 0px;
    margin-top: 20px;
}
.floorplan-form{
    display: flex;
    flex-wrap: wrap;
}
.floorplan-form .col-md-6{
    max-width: 50%;
    flex: 0 0 calc(100% / 2);
    padding: 0px 10px;
}
.floorplan-form .col-md-6 .img img{
    height: 300px;
    margin-bottom: 20px;
    width: 100%;
    object-fit: contain;
}
.floorplan-form .col-md-6 .content svg{
    /* margin-left: 10px; */
    display: inline-block;
}
.d-inline-block{
    display: inline-block;
    margin-right: 10px;
}
.button-square{
    padding: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hotspot-sidebar .grid.grid-cols-2 {
    grid-template-columns: repeat(3,minmax(0,1fr));
    border: none;
}
#hotspot-sidebar .grid.grid-cols-2 .inline-table {
    width: calc(100% - 10px);
    height: 80px;
    margin: 5px;
    border: 1px solid #ddd;
}
#hotspot-sidebar .grid.grid-cols-2 .card-image-style{
    object-fit: contain;
}

#hotspot-sidebar {
    position: fixed;
    background: #fff;
    left: auto;
    width: 330px;
    right: 0;
    bottom: 0px;
    color: #fff;
}
#hotspot-sidebar {
    position: fixed;
    background: #fff;
    left: auto;
    width: 330px;
    right: 0px;
    bottom: 0px;
}
.property_videos .w-auto{
    width: 100%;
}

.flex.my-3.card.gallery-image h5{
    word-break: break-all;
    margin-bottom: 10px;
}
#hotspot-sidebar .border {
    border: 1px solid #233c54;
    background: var(--sidebar-color);
}
.profile{
    padding: 30px;
}
.profile .profile-images,
.profile .profile-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.profile .profile-images .column,
.profile .profile-content .column{
    flex: 0 0 50%;
    max-width: 50%;
}
#delete-profile img{
    width: 200px;
    margin-bottom: 20px;
}
.column-2{
    display: flex;
    flex-wrap: wrap;
}
.column-2 .profile {
    flex: 0 0 50%;
    max-width: calc(50% - 30px);
    margin: 0px 15px;
    padding: 10px 20px 0px;
}
.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.flex-row.wrap.box-2 .col-md-6 .form-bg.min-height-auto{
    min-height: auto;
}

.sticky-gallery {
    align-items: center;
    align-content: flex-start;
}
form.is-filled .border.h-96.overflow-auto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#hotspot-sidebar-selected .grid.grid-cols-2 {
    grid-template-columns: repeat(3,minmax(0,1fr));
    border: none;
}
#hotspot-sidebar-selected .grid.grid-cols-2 .inline-table {
    width: calc(100% - 10px);
    height: 80px;
    margin: 5px;
    border: 1px solid #ddd;
}
#hotspot-sidebar-selected .grid.grid-cols-2 .card-image-style{
    object-fit: contain;
}

#hotspot-sidebar-selected {
    position: fixed;
    background: #fff;
    left: auto;
    width: 330px;
    right: 0;
    bottom: 0px;
    color: #fff;
}
#hotspot-sidebar-selected {
    position: fixed;
    background: #fff;
    left: auto;
    width: 330px;
    right: 0px;
    bottom: 0px;
}
#hotspot-sidebar-selected .border {
    border: 1px solid #233c54;
    background: var(--sidebar-color);
}